.about_me_title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 55px;
}
.university {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 20px;
  color: #ff6b08;
}
.university_profession {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
.profession_date {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}
.profeiion_devider {
  color: #000000;
}
