.about_me_title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 55px;
}
.projects_link {
  color: #a1a1a1;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.tech_name {
  color: #a1a1a1;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.dots {
  color: #a1a1a1;
  font-weight: 100;
}
.projects_item {
  font-weight: 700;
  margin-left: 20px;
}
